//colors
$color-primary: rgb(118, 79, 254);
$color-primary-dark: rgb(89, 60, 193);
$color-secondary: rgb(121, 117, 143);
$color-secondary-light: rgb(228, 227, 233);
$color-secondary-dark: rgba(255, 255, 255, 0.5);
$color-success: rgb(25, 203, 152);
$color-success-dark: rgb(19, 154, 116);
$color-light: rgb(245, 244, 248);
$color-dark: rgb(24, 17, 60);
$shadow-secondary-light: 3px 3px 5px 5px $color-secondary-light;
$border-secondary: 1px solid $color-secondary;
$border-secondary-light: 1px solid $color-secondary-light;